<div class="scrivito-tab-title-details">
  <%= scrivito_tag :h4, widget, :title %>

  <%= link_to '(details)', '#', 'data-scrivito-tab-toggle-details' => widget.id %>

  <div class="scrivito-tab-details-<%= widget.id %>">
    <div>
      <b>Font Size</b>:
      <%= scrivito_edit_enum widget, :font_size %>
    </div>
    <div>
      <b>Font Color</b>:
      <% if defined? JqueryMinicolorsRails %>
        <%= scrivito_tag :input, widget, :font_color, value: widget.font_color,
          'data-editor' => 'minicolors' %>
      <% else %>
        <%= scrivito_tag :input, widget, :font_color, value: widget.font_color %>
      <% end %>
    </div>
    <div>
      <b>Background Color</b>:
      <% if defined? JqueryMinicolorsRails %>
        <%= scrivito_tag :input, widget, :background_color, value: widget.background_color,
          'data-editor' => 'minicolors' %>
      <% else %>
        <%= scrivito_tag :input, widget, :background_color, value: widget.background_color %>
      <% end %>
    </div>
  </div>
</div>
